
<%= simple_form_for @event, wrapper: :input_group do |f| %>

  <% if f.error_notification %>
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      <%= f.error_notification %>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :title, placeholder: "Title", label: false %>
    <%= f.input :description, :as => :text, placeholder: "Description", label: false, :input_html => { :rows => 5 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary mr-2" %>
    <%= link_to "Cancel", root_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
